body{
  background-color: rgba(0, 119, 255, 0.263);
}
.App {
  text-align: center;
  font-weight:bolder;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* margin-top: 20px; */
  background-color: rgba(0, 128, 0, 0);
  color: white;
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 20px;
 
}

/* img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #80fb61;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.mainDiv{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(57, 57, 57);
  width: 40%;
  margin: 25px auto;
  padding: 20px 10px;
  color: white;
  border-radius: 5px;
  min-width: 300px;
}

.payButton{
   margin-top: 20px;
   padding: 5px 20px;
   background-color: rgb(0, 161, 75);
   border-radius: 5px;
   font-weight: bold;
}


.EnterAmount{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* .EnterAmount:focus{
  /* outline: none;
  border: none; 
} */

.enter-amount-inpt{
  padding: 8px 5px;
  font-size: 18px;
  text-align: center;
  outline: none;
  border: solid 0px;
  border-radius: 5px;
}

.order-detail{
  width: 28%;
  margin: 10px auto;
  background-color: #00cf67a5;
  background-color: #b2210082;
  border-radius: 5px;
  min-width: 300px;
}

.order-detail-box{
  display: flex;
  flex-direction: column;
  gap:4px;
  padding: 12px 10px;
  /* width: 95%; */
  /* background-color: red; */
  min-width: 250px;
  margin: 0 auto;
}

.order-detail-key-value{
  display: flex;
  justify-content: space-between;
  width: 50%;
  /* min-width: 00px; */
  /* margin: 0 auto; */
}

.left{
  width: 50%;
  /* min-width: 20%, */
  /* text-align: center; */
}
.right{
  width: 50%;
  /* min-width: 20px */
}